/* General styles */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    background: linear-gradient(to right, #6A82FB, #FC5C7D);
}

body {
    font-family: poppins, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

/* Header styles */
.navbar {
    background: linear-gradient(to right, #6A82FB, #FC5C7D);
}

.logo {
    float: left;
}

/* Home section */
.home-section {
/*    background-image: url('../images/abc.jpg');*/
    background-color: #5c3b95;
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 120px 0;
}

    .home-section h1 {
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 30px;
    }

    .home-section p {
        font-size: 1.2rem;
        margin-bottom: 30px;
        text-align: justify;
    }

    .home-section button {
        font-size: 1.2rem;
        padding: 12px 30px;
        border-radius: 0;
    }

@media (max-width: 768px) {
    .home-section h1 {
        font-size: 3rem;
    }

    .home-section p {
        font-size: 1rem;
        text-align: justify;
    }

    .home-section button {
        font-size: 1rem;
        padding: 10px 20px;
    }
}

/* Services Section */
.services-section {
    background-color: #e3e3e3;
    padding: 60px 0;
}

    .services-section h1 {
        font-size: 44px;
        font-weight: 700;
        text-align: center;
    }

    .services-section h2 {
        font-size: 34px;
        font-weight: 700;
        margin-bottom: 30px;
    }

    .services-section p {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .services-section .service {
        padding: 30px;
        text-align: center;
    }

        .services-section .service i {
            font-size: 3rem;
            margin-bottom: 30px;
        }

@media (max-width: 768px) {
    .services-section .service {
        margin-bottom: 30px;
    }
}

/* Team Section */
#teams-section {
    background: #f9f9f9;
    padding: 60px 0;
}

    #teams-section h2 {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 40px;
        text-align: center;
    }

.team-member {
    text-align: center;
    margin-bottom: 30px;
}

    .team-member img {
        border-radius: 50%;
        margin-bottom: 20px;
        width: 50px;
        height: 50px;
        object-fit: cover;
    }

    .team-member h3 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .team-member p {
        font-size: 18px;
        font-weight: 400;
        color: #777;
    }

/* About us section */
#about-section {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

    #about-section h2 {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 30px;
    }

    #about-section p {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 30px;
        line-height: 1.8;
        color: #777;
        text-align: justify;
    }

    #about-section img {
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        width: 60%;
        height: auto;
        margin: 0 auto;
    }

/* Contact us section */
#contact-section {
    padding: 50px 0;
    background-color: #f5f5f5;
}

    #contact-section h2 {
        margin-bottom: 30px;
        font-size: 36px;
        font-weight: 700;
    }

.form-group label {
    font-weight: 700;
}

.form-control {
    border-radius: 0;
    resize: none;
}

.btn-primary {
    border-radius: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.social-media {
    justify-content: space-around;
    margin-top: 20px;
}

    .social-media a {
        color: blue;
        font-size: 20px;
        margin-right: 10px;
        transition: color 0.3s ease-in-out;
        display: block;
        margin-bottom: 10px;
        text-decoration: none;
    }

        .social-media a:hover {
            color: red;
            text-decoration: underline;
            background-color: rgba(0, 0, 0, 0.1);
        }

.social-text {
    margin-left: 10px;
    vertical-align: middle;
}
